// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.chatter {

	position: relative;
	overflow: auto;
	width: 300 * 0.1em;
	padding: 0px;
	border-left: 1px solid darken(@tree-view-background-color, 50%);
	background-color: darken(@tree-view-background-color, 5%);
	color: darken(@tree-view-background-color, 90%);

	/*
		Import the component less files into the
		.chatter namespace
	*/
	@import "components/config";
	@import "components/message";
	@import "components/notification";
	@import "components/people";
	@import "components/rooms";

}

.hidden {
	display:none;
}
